.body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 10px;
}

.wrapper {
    width: 420px;
    background-color: tan;
    border: 1px solid rgba(255, 255, 255, 02);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 5px !important;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 15px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.wrapper .register-link a {
    color: #fff;
    font-size: 13px;
}